<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BodyIndex</title>
    <link href="..\static\main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Find out if your weight and height are normal</h1>
    <h3>Please fill the entries!</h3>
    <div class="message">
        <h4>{{text | safe}}</h4>
    </div>
    <form action="{{url_for('info')}}" method="POST">
        <input title="Enter email for registration" placeholder="Email is" type="email" name="email_addr" required><br>
        <input title="Please give your weight" placeholder="Weight in kilograms" type="number" min="5" max="300" step="0.01" name="weight" required><br>
        <input title="Please give your height" placeholder="Height in centimeters" type="number" min="100" max="300" step="0.01" name="height" required><br>
        <button type="submit">Submit</button>
    </form>
</div>


</body>
</html>